@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-bg: #F7B787;
    --background-color: #F9E8D9;
    --dark-text-color: #111111;
    --light-text-color: #F9E8D9;
    --first-button: #527853;
    --hover-button: #7aa87c;
    --second-button: #EE7214;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.nav {
    background-color: var(--nav-bg);
    color: var(--light-text-color);
    font-size: larger;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav ul {
    display: flex;
    gap: 50px;
    margin-right: 1em;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

.shoppingCart {
    color: white;
}

.productCard {
    background-color: var(--background-color);
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

.button-bg {
    background-color: var(--first-button);
    color: var(--light-text-color);
}

.button-bg-hover {
    background-color: var(--hover-button);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em; 
    padding: 2em;
}

/* .border {
    border: 2px solid red;
} */

.cart-button {
    position: relative;
    border: 2px solid var(--light-text-color);
    padding: 0.5em;
}

.cart-number {
    position: absolute;
    background-color: var(--first-button);
    padding: 0.2em;
    font-size: x-small;
    left: 2.5em;
    top: 2.3em;
    border-radius: 50px;
}

.productPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    gap: 1em;
}

.singeImage{
    max-width: 400px;
}

.productTitle {
    font-size: 30pt;
}

.oldPrice{
    text-decoration: line-through;
    color: gray;
}

.newPrice {
    font-size: larger;
}